[run]
source = .
omit =
    venv/*
    .venv/*
    */migrations/*
    manage.py
    conftest.py
    tests/*
    scripts/*
    */tests.py
    */test_*.py

[report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG:
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
